body {
    font-family: 'poppins';
    font-size: 20px;
    background-color: #2458;
    box-sizing: border-box;
}

h1 {
    background-color: #00f555;
    padding: 0px 20px;
    margin: 20px;
}

.tamanho-capa {
    margin: 0px 20px 0px 20px;
    width: 250px;
    

}

.filmesfonte {
    margin: 20px 20px 0px 20px;
    padding: 15px;
    
}

.descricao {
    margin: 0px 20px 50px 20px;
    padding: 20px;
    
}